In [31]:
import pandas as pd
import numpy as np
data = pd.read_csv('age-distribution.csv')

In [32]:
years = data[data['year'].isin([2017, 2018])]
years = years.reset_index(drop=True)

In [33]:
def ifelse(cond, a, b):
    if cond:
        return a
    else:
        return b

In [34]:
males = years[years['level_1'].str.contains('Male')]
males['ethnicity'] = males['level_1'].apply(lambda x: x.replace('Male', '').replace(' (s)', '').replace('  ', ' '))
males = males.rename(columns={'level_1': 'sex', 'level_2': 'age_group', 'value': 'count'})
males['sex'] = 'Male'
females = years[years['level_1'].str.contains('Female')]
females['ethnicity'] = females['level_1'].apply(lambda x: x.replace('Female', '').replace(' (s)', '').replace('  ', ' '))
females = females.rename(columns={'level_1': 'sex', 'level_2': 'age_group', 'value': 'count'})
females['sex'] = 'Female'
total = years[~years['level_1'].str.contains('Male') & ~years['level_1'].str.contains('Female')]
total['ethnicity'] = total['level_1'].apply(lambda x: x.replace(' (Total)', ''))
total = total.rename(columns={'level_1': 'sex', 'level_2': 'age_group', 'value': 'count'})
total['sex'] = 'Total'

/Users/ralbright/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/ralbright/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/Users/ralbright/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [35]:
sexes = males.merge(females, how='inner', on=['year', 'ethnicity', 'age_group'], suffixes=('_male', '_female'))
sexes = sexes.drop(columns=['sex_male', 'sex_female'])
sexes = sexes[['year', 'ethnicity', 'age_group', 'count_male', 'count_female']]
df = sexes.merge(total, how='inner', on=['year', 'ethnicity', 'age_group'])
df = df.drop(columns=['sex'])
df = df.rename(columns={'count_male': 'male', 'count_female': 'female', 'count': 'total', 'age_group': 'age'})
df['ethnicity'].unique()
df.loc[df['ethnicity'] == 'Other Ethnic Groups','ethnicity'] = 'Other'
df.loc[df['ethnicity'] == 'Total Chinese','ethnicity'] = 'Chinese'
df.loc[df['ethnicity'] == 'Total Malays','ethnicity'] = 'Malay'
df.loc[df['ethnicity'] == 'Total Indians','ethnicity'] = 'Indian'
df.loc[df['ethnicity'] == 'Total Residents','ethnicity'] = 'Total'
df['age'] = df['age'].apply(lambda x: x.replace(' Years', ''))
df['age'] = df['age'].apply(lambda x: ifelse('&' in x, x.replace(' & Over', '+'), x))
df['male'] = df['male'].astype(int)
df['female'] = df['female'].astype(int)
df['total'] = df['total'].astype(int)

In [36]:
pd.set_option('display.max_rows', None)
over65 = df[['year', 'ethnicity', 'male', 'female', 'total']][df['age'] == '65+'].groupby(['year', 'ethnicity']).agg({'male':'sum','female':'sum', 'total': 'sum'})

for col in ['male', 'female', 'total']:
    for age in ['65+', '70+', '75+', '80+']:
        df[col][df['age'] == age] = np.nan
df = df.dropna()
totals = df[['year', 'ethnicity', 'male', 'female', 'total']].groupby(['year', 'ethnicity']).agg({'male':'sum','female':'sum', 'total': 'sum'})

pctOver65 = (over65 / totals * 100).apply(lambda x: np.round(x, 2))

/Users/ralbright/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [38]:
pctOver65 = pctOver65.rename(columns={'male': 'male_65+', 'female': 'female_65+', 'total': 'total_65+'})
pctOver65

                male_65+  female_65+  total_65+
year ethnicity
2017 Chinese       13.67       15.70      14.71
     Indian         7.72        9.21       8.45
     Malay          7.70        9.48       8.60
     Other          6.29        4.64       5.41
     Total         12.07       13.95      13.03
2018 Chinese       14.46       16.44      15.48
     Indian         8.16        9.69       8.91
     Malay          8.17       10.01       9.10
     Other          6.68        4.90       5.72
     Total         12.78       14.62      13.72

In [39]:
totals = totals.merge(pctOver65, how='inner', on=['year', 'ethnicity'])
totals = totals[['male', 'male_65+', 'female', 'female_65+', 'total', 'total_65+']]

In [41]:
totals.to_excel('age-distribution.xlsx')